.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.app-header nav a {
  margin-left: var(--space-md);
  color: var(--color-text-secondary);
}

.app-header nav a:hover {
  color: var(--color-primary);
}

.app-content {
  margin-top: 70px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh -128px);
  text-align: center;
  padding: var(--space-xl);
}

.app-footer {
  height: 48px;
  background: var(--color-surface);
  border-top: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  color: var(--color-text-secondary);
}
